html {
  background: #f4f4f4;
}

hr {
    border: 0;
    height: 0;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*Change big-react-table CSS*/

.rbc-now > a{
  color: white!important;
  background: #2EB0FF;
  border-radius: 15px;
  padding: 4px
}

.rbc-today{
  background-color: white!important;
}

.rbc-row-content{
  top: 5px;
}

.event:hover + .info_popup{
  display: block;
}

.rbc-day-bg{
  cursor: pointer;
}

.rbc-day-bg:hover, .rbc-today:hover{
  background: #fafafa!important;
}

.rbc-off-range-bg{
  background: white!important;
}

.rbc-toolbar .rbc-toolbar-label{
  order: -1;
  text-align: left!important;
  font-weight: bold;
}

.rbc-toolbar{
  padding: 15px;
}

.rbc-btn-group{
  padding-left: 10px;
}

.rbc-toolbar button{
  background: #fafafa!important;
  outline: none;
}

.rbc-btn-group > button:first-child:not(:last-child){
  color: #2EB0FF;
  font-weight: bold;
}

.rbc-month-view{
  border: none!important;
}

/*Change react-table CSS*/

.rt-th:focus{
  outline: 0;
}

.ReactTable .rt-tbody{
  font-size: 14px;
  max-height: none!important;
}

.ReactTable .rt-thead .rt-th:last-child {
    overflow: visible!important;
}

.ReactTable .rt-tbody .rt-td:last-child{
    overflow: visible!important;
}

/*CSS*/

.info_popup{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 15px;
  top: 40px;
  width: 13%;
  border-radius: 5px;
}

#calendar{
  width: 83%;
  /*padding:15px;*/
  float: right;
  background: white;
  border-radius: 5px;
}

#grid_calendar{
  height: 750px;
  width: 100%;
}

#list_calendar{
  height: 100%;
  width: 100%;
}

#button_grid_view{
    background: #3cabff;
}

#calendarApp{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

#side_filters{
  width:15%;
  float: left;
  border-radius: 5px;
  user-select: none;
}

#side_filter{
  width: 100%;
  float: left;
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.side_filter_title{
  color: #bbbbbb;
  text-align: center;
}

/*Actions Menu*/

#actions_menu{
  padding:0 0 15px 0;
}

#events_title{
  color: #2EB0FF;
}

.action_button{
  color: black;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 6px ;
  display: inline;
  background-color: white;
  cursor: pointer;
  margin: 5px;
  height: 40px;
  background-image: none;
  text-shadow: none;
  opacity: 0.9;
  line-height: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.action_button:hover{
  opacity: 1!important;
  background: #ececec;
}

.action_button:focus{
  outline: none;
}

.selection_action_button{
  pointer-events:none;
  opacity: 0.3;
  cursor: pointer;
}

.action_link{
  text-decoration: none;
}

.add_a_member_button{
  background: #2EB0FF;
  color: white;
}

.add_a_member_button:hover{
  opacity: 1!important;
  background: #2EB0FF;
}

.calendar_view_button{
  float: right;
}

.action_filter{
  color: black;
  font-size: 12px;
  border: none!important;
  border-radius: 2px;
  display: inline;
  padding: 2px;
  background-color: white;
  margin: 5px;
  float: right!important;
  height: 40px!important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.checkbox_filter{
    -webkit-appearance: none;
    -moz-appearance: none;

    vertical-align: bottom;
    padding: 6px;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    opacity: 0.3;

}

.checkbox_filter:checked {
  -webkit-appearance: none;
  background: #2EB0FF;
  opacity: 1;
}

.checkbox_filter:checked:before {
    font-size: 12px;
    color: white;
    content: '✓';
    position: relative;
    right: 4px;
    bottom: 7px;
}

.checkbox_filter:focus{
    outline:0;
}

.select_season{
  position: relative;
  top: 6px;
  float: right;
  height: 40px;
  background: white;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.75;
  width: 125px;
}

.team_name{
  float: left;
  padding: 2px 5px 2px 5px;
  border-radius: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opponents{
  text-align: center;
}

.opponent{
  display: inline;
}

.opponents_score{
  display: inline;
  padding: 0 10px 0 10px;
  font-weight: bold;
}